ion-item {
    font-size: 0.8em; /* Tamaño de letra más pequeño */
    --padding-start: 8px; /* Ajuste de espacio al principio */
    --padding-end: 8px; /* Ajuste de espacio al final */
  }

  ion-card-content {
    max-width: 100%;
  }

  